@media only screen and (min-width: 470px) {


    .a {

        /* display: none !important;
        visibility: hidden !important; */
        margin-left: 30px;

    }

    
}
@media only screen and (max-width: 470px) {


    .b {

        /* display: none !important;
        visibility: hidden !important; */
        /* margin-left: 30px; */
        position: relative;
        top: 61rem;
        left: -18rem;
    
    }

    
}
@media only screen and (max-width: 470px) {


    .m {

        /* display: none !important;
        visibility: hidden !important; */
        /* margin-left: 30px; */
        position: relative;
        top: 61rem;
        left: -18rem;
    
    }

    
}
@media only screen and (max-width: 470px) {


    .w {

        /* display: none !important;
        visibility: hidden !important; */
        /* margin-left: 30px; */
        position: relative;
        top: 61rem;
        left: -18rem;
    
    }

    
}
@media only screen and (max-width: 470px) {


    .s {

        /* display: none !important;
        visibility: hidden !important; */
        /* margin-left: 30px; */
        position: relative;
        top: 81rem;
        left: -36rem;
    
    }

    
}
@media only screen and (max-width: 470px) {


    .f {

        /* display: none !important;
        visibility: hidden !important; */
        /* margin-left: 30px; */
        position: relative;
        top: 101rem;
        left: -54rem;
    
    }

    
}
@media only screen and (max-width: 470px) {


    #fr {

        margin-top: -8rem;
    }

    
}
@media only screen and (max-width: 470px) {


    .h {
        position: relative;
        top: 141rem;
        left: -571px;
    }
    

    
}
@media only screen and (max-width: 470px) {


    .r {
        position: relative;
        top: 181rem;
        left: -571px;
    }
    

    
}
@media only screen and (max-width: 470px) {


    .p {
        position: relative;
        top: 201rem;
        left: -862px;
    }
    

    
}
@media only screen and (max-width: 470px) {


    .n {
        position: relative;
        top: 201rem;
        left: -861px;
    }
    

    
}
@media only screen and (max-width: 470px) {


    .fg {
        position: relative;
    top: 182rem;
    }
    

    
}